server {
    listen 80;
    server_name {{ wp_domain }} www.{{ wp_domain }};
    location / {
        return 301 https://$server_name$request_uri;
    }
}
server {
    listen 443 ssl;
    server_name {{ wp_domain }} www.{{ wp_domain }};

    ssl_certificate     "{{ www_certs }}/cert.pem";
    ssl_certificate_key "{{ www_certs }}/privkey.pem";

    root {{ www_htdocs }};
    index index.php;

    access_log /var/log/nginx/{{ wp_domain }}_access.log;
    error_log /var/log/nginx/{{ wp_domain }}_error.log;

    include cloudflare.conf;
    include snippets/wp-rocket.conf;
    include snippets/wp-common-php7.conf;
}